.style-test{  display: flex;
    justify-content: flex-end;
    background-color: rgba(127, 80, 212, 0.58);
    padding: 1%;
    align-items: center;
    border-radius: 5px;
}

.user-name-style{    font-size: 1.2rem;
    font-weight: bold;
    padding: 1%;
}

.logout-button {   
    background-color: rgb(241, 192, 177);
    color: rgb(39, 37, 37);
    padding: 20px;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    border-radius: 15px;
    font-weight: bold;
    font-stretch: expanded;
}
td
{
  padding: 1%;
  align-items: center;
  border: 1px solid #dee2e6;
  background-color: rgb(247, 247, 247);
}
label
{
    align-content: flex-start;
    font-weight: bold;
    padding: 15px;
    color: rgb(39, 37, 37);
}

.table-bordered {
    border: 1px solid #dee2e6;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.view {
    display: block;
    padding-top: 30px;
}

.builder .navbar-layoutit .navbar-brand {
    color: #fff;
    height: 36px;
    padding: 0;
    margin: 0 5px;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.builder .navbar-layoutit {
    background: #1d032d!important;
    border: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Alegreya Sans', sans-serif;
    min-height: 48px;
    padding: 5px;
    justify-content: space-between;
}

.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
/*
.table-style {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

.MuiTableContainer-root {
    width: 100%;
    overflow-x: auto;
}

.MuiPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px rgba(126, 122, 122, 0.2), 0px 1px 1px 0px rgba(20, 20, 20, 0.14), 0px 1px 3px 0px rgba(80, 76, 76, 0.12);
}

.MuiPaper-rounded {
    border-radius: 4px;
}

.MuiPaper-root {
    color: rgb(34, 31, 31);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #c9c9c9;
}*/