
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Test</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>

    <div class="style-test">
        <a class="brand" href="/"> ECIP - Minciu Oana-Anastasia </a>

        <span class="user-name-style">[[${#httpServletRequest.remoteUser}]]</span>

        <form th:action="@{/logout}" method="post" class="user-name-style">
            <input type="submit" value="Log Out"  class="button"/>
        </form>
    </div>
    <div sec:authorize="hasRole('USER')"> 
        <button class="logout-button" th:onclick="|window.location.href='/coursefeedback'|" type="button">Give Course Feedback</button>
    </div>
    
    
    <div  sec:authorize="hasRole('ADMIN')">
    <button class="logout-button" th:onclick="|window.location.href='/feedbackresults'|" type="button" >See Feedback Results</button>
    </div>

</body>
</html>