
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Test</title>
</head>
<body>

    <table>
        <tr th:each="message : ${messages}">
            <td >Name</td>
            <td>Age</a></td>
            <td >Email</td>
            <td >Phone</td>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.name}"></td>
            <td th:text="${message.age}"></td>
            <td th:text="${message.email}"></td>
            <td th:text="${message.phone}"></td>
        </tr>
    </table>
    <button th:onclick="|window.location.href='/thankyou'|" type="button">GOOOOO</button>
    <button th:onclick="|window.location.href='/thankyou'|" type="button" sec:authorize="hasRole('ADMIN')">NOOOO</button>

</body>
</html>