
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Test</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <div class="style-test"> 
    <span class="user-name-style">[[${#httpServletRequest.remoteUser}]]</span>    
    <button class="logout-button">Logout</button>
    </div>

    <div class="MuiPaper-root MuiTableContainer-root MuiPaper-elevation1 MuiPaper-rounded">
    <table class="table-style">
        <tr>
            <td >Name</td>
            <td>Age</a></td>
            <td >Email</td>
            <td >Phone</td>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.name}"></td>
            <td th:text="${message.age}"></td>
            <td th:text="${message.email}"></td>
            <td th:text="${message.phone}"></td>
        </tr>
    </table>
    </div>
    <div> 
        <button th:onclick="|window.location.href='/thankyou'|" type="button">GOOOOO</button>
    </div>
    
    
    <div sec:authorize="hasRole('ADMIN')">
    <button th:onclick="|window.location.href='/thankyou'|" type="button" >NOOOO</button>
    </div>

</body>
</html>